{:port 8082
 :build :dev ;; use :prod for static paths and optimized js files otherwise :dev
 :logging? true
 :logfile "/path/to/logfile" ;; if logging activated this is the file the log is written to
 :init? false ;; if the server runs for the first time, mongodb indices have to be build
 :http-server? true ;; decide wether the http-server is needed
 :app ;; twitter related configs
 {:credentials ;; refer to twitter dev site
  {:consumer-key "????"
   :consumer-secret "????"
   :access-token "????"
   :access-token-secret "????"}
  :follow [1234 5678] ;; whom to follow on twitter -> only ids as int
  :track ["clojure"] ;; keywords to follower
  }}
