[;; --- Article ---
 {:db/id #db/id[:db.part/db]
  :db/ident :article/url
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext true
  :db/index true
  :db/unique :db/unique/identity
  :db/doc "An article's url"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :publish/at
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/index true
  :db/doc "An article's publication time"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :article/reactions
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "Article's reactions"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :article/tweet
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "An article's original tweet"
  :db.install/_attribute :db.part/db}


 ;; --- Tweet ---
 {:db/id #db/id[:db.part/db]
  :db/ident :tweet/user
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "A tweet's user"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :tweet/text
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext true
  :db/index true
  :db/doc "A tweet's text"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :tweet/type
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "A tweet's type"
  :db.install/_attribute :db.part/db}

 ;; basic tweet types
 {:db/id #db/id[:db.part/tweet -2]
  :db/ident :tweet.type/retweet}

 {:db/id #db/id[:db.part/tweet -3]
  :db/ident :tweet.type/shared}

 {:db/id #db/id[:db.part/tweet -4]
  :db/ident :tweet.type/reply}

 {:db/id #db/id[:db.part/tweet -5]
  :db/ident :tweet.type/source}

{:db/id #db/id[:db.part/db]
  :db/ident :tweet/hashtags
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "A tweet's hashtags"
 :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :tweet/id
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/doc "A tweet's id"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :tweet/reactions
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "A tweet's reactions"
  :db.install/_attribute :db.part/db}


 ;; --- User ---
 {:db/id #db/id[:db.part/db]
  :db/ident :user/screen-name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A users's screen name "
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A users's name "
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/id
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/doc "A users's id"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/followers
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "A users's follower count"
  :db.install/_attribute :db.part/db}


 ;; --- Hashtag ---
 {:db/id #db/id[:db.part/db]
  :db/ident :hashtag/text
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/index true
  :db/fulltext true
  :db/doc "A hashtags's text"
  :db.install/_attribute :db.part/db}


 ]
