{:port 8082
 :build :prod
 :app
 {:credentials
  {:consumer-key "RfwfMlqMXqWnIofQ8QjU5TpSX"
   :consumer-secret "tXF0cJM0ltTyMw1363cNWAkflbgzg0LBeFrutFer7E9ksSZaJz"
   :access-token "108654757-1jR2QjJj3gZINhT7aTdQGKX0pKf3yIKyQGSu322w"
   :access-token-secret "nbEkOMtOM6Ped8xozXHo6j2sI82k1uH1yOyZPMzuoOcng"}
  :follow [114508061 18016521 5734902 40227292 2834511]
  :track ["@FAZ_NET" "@tagesschau" "@dpa" "@SZ" "@SPIEGELONLINE"]}
 }
