tbody {
	overflow-y:auto;
}

.axis text {
  font: 10px sans-serif;
  fill: #ffffff;
}

.axis path,
.axis line {
  fill: none;
  stroke: #ffffff;
  shape-rendering: crispEdges;
}

.tweet-news-item {
    border-left: 5px solid steelblue;
    border-right: 5px solid steelblue;
}


.circle {
    width:35px;
    height:35px;
    border-radius:50%;
    border-top: 2px solid rgba(0, 152, 113, 0.2);
    border-right: 2px solid rgba(0, 152, 113, 0.2);
    border-bottom: 2px solid #009871;
    border-left: 2px solid #009871;
    -webkit-animation: circle 0.75s infinite linear;
    animation: circle 0.75s infinite linear;
}

@-webkit-keyframes circle {
    100% { -webkit-transform: rotate(360deg); } }
@keyframes circle {
    100% { transform: rotate(360deg); transform:rotate(360deg); } }
