tbody {
	overflow-y:auto;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.tweet-news-item {
    border-left: 5px solid steelblue;
    border-right: 5px solid steelblue;
}

.loading {
    width:0;
  height:0;
  border-right:12px solid #444;
  border-top:12px solid #777;
  border-left:12px solid #aaa;
  border-bottom:12px solid #eee;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  animation: bganim 0.6s linear 0s infinite;
  /* moz: Vendor prefixe for Mozilla Firefox */
  -moz-animation: bganim 0.6s linear 0s infinite;
  /* webkit: Vendor prefixe for Google Chrome, Chromium, Apple Safari... */
  -webkit-animation: bganim 0.6s linear 0s infinite;}

@keyframes bganim {
  /* Rotate the div 360° */
  from { transform:rotate(0deg); } to { transform:rotate(360deg); }
}
@-moz-keyframes bganim {
  from { -moz-transform:rotate(0deg); } to { -moz-transform:rotate(360deg); }
}
@-webkit-keyframes bganim {
  from { -webkit-transform:rotate(0deg); } to { -webkit-transform:rotate(360deg); }
}
