<html>
   <head>
    <meta title="generator" content="content" charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="bootstrap-css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link id="bootstrap-theme-css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>
  </head>
   <body>

     <!-- page header -->
     <div class="page-header">
       <h3>Recent Articles
         <small> count: </small>
         <small id="article-overall-count">0</small>
       </h3>
     </div>
     <div>
      <div class="center-block" id="articles-loading"/>
      <div class="center-block"><p id="articles-loading-text" class="text-center"></p></div>
     </div>
   <!-- page header -->

   <!-- article collection -->
   <ul class="list-group" id="article-collection">

     <!-- article item-->
     <li class="list-group-item article-item fade in">

       <div class="row">
         <!-- article text -->
         <h4>
         <a href="https://topiq.es" target="_blank" class="list-group-item-heading col-md-11 col-xs-11 article-text">TITLE</a>
         </h4>
         <!-- article text end -->
       </div>

         <!-- article timestamp -->
         <small class="article-timestamp text-muted">
           today
         </small>
         <!-- article timestamp -->
     </li>
     <!-- article item end -->
   </ul>
   <!-- article list end -->

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
   <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
   </body>
</html>
