<html>
   <head>
    <meta title="generator" content="content" charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="bootstrap-css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link id="bootstrap-theme-css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>
  </head>
   <body>
   <!-- tweet collection -->
   <ul class="list-group" id="tweet-collection">

     <!-- tweet item-->
     <li class="list-group-item tweet-item">

       <div class="row">
         <!-- tweet text -->
         <h4 class="list-group-item-heading col-md-11 col-xs-11 tweet-text">STATUS</h4>
         <!-- tweet text end -->

       </div>

       <!-- entities list -->
       <ul class="list-inline tweet-entities-list">

         <!-- tweet author -->
         <li class="tweet-author text-primary">
           Eve
         </li>
         <!-- tweet author -->

         <!-- tweet timestamp -->
         <li>
           <small class="tweet-timestamp">
             today
           </small>
         </li>
         <!-- tweet timestamp -->

         <!-- tweet reaction -->
         <li>
           <small class="tweet-reaction">
             Reaction?
           </small>
         </li>
         <!-- tweet reaction -->

         <!-- tweet reaction -->
         <li>
           <small>
             <a class="tweet-url" href="#" target="_blank">
               URL
             </a>
           </small>
         </li>
         <!-- tweet reaction -->

       </ul>
       <!-- entities end -->

     </li>
     <!-- tweet item end -->

   </ul>
   <!-- tweet list end -->

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
   <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
   </body>
</html>
