<html>
  <head>
    <meta title="generator" content="content" charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="bootstrap-css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link id="bootstrap-theme-css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>
  </head>
  <body>
    <!-- main navbar header -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsed-navbar-group">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" id="ceres-brand">
        <span class="glyphicon glyphicon-home"></span>
      </a>
    </div>
    <!-- main navbar header end -->

    <!-- main navbar container -->
    <div class="collapse navbar-collapse" id="collapsed-navbar-group">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <a href="#url-list" id="url-list-btn">
            <span class="glyphicon glyphicon-list"></span>
          </a>
        </li>
        <li>
          <a href="#stats" id="stats-btn">
            <span class="glyphicon glyphicon-stats"></span>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="tweets/export" disabled="true"> Export </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#" disabled="true">Show log</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- main navbar container end -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
