<html>
  <head>
    <meta title="generator" content="content" charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="bootstrap-css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link id="bootstrap-theme-css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>
  </head>
  <body>

     <!-- page header -->
     <div class="page-header">
       <h3>Statistics
         <small id="selected-stat">SELECTED</small>
       </h3>
     </div>
   <!-- page header -->


    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tweets-count" data-toggle="tab">Tweets</a></li>
      <li><a href="#reaction-count" data-toggle="tab">Reaction</a></li>
      <li><a href="#hashtag-count" data-toggle="tab">Hashtag</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="tweets-count">...</div>
      <div class="tab-pane" id="reaction-count">...</div>
      <div class="tab-pane" id="hashtag-count">...</div>
    </div>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
